body {
  height: 100%;
  width: 100%;
  margin: 0;
  margin-top: 0;
  background-color: #14191f;
  color: #0d0d0e;
}

html {
  height: 100%;
  width: 100%;
}
nav ul, footer ul {
    font-family:'Exo 2';
    padding: 30px;
    margin: auto;
    list-style: none;
    font-weight: bold;
    text-align: center;
    background-color: #040c13;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #999;
    font-family: 'Exo 2';
}
a:hover {
    text-decoration: underline;
}

.centered {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #040c13;
  font-family: 'Sans Serif', cursive;
}

.ctrL, .ctrR {
  background-color: transparent;
  color: #040c13;
  border: 2px solid #040c13;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  font-family: 'Exo 2';
  border-radius:4px;
}

.ctrL:hover, .ctrR:hover {
  background-color: #040c13;
  color: #dc8f87;
}

.portfolio {
  background-color: transparent;
  color: #999;
  border: 2px solid #999;
  padding: 15px 32px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  font-family: 'Exo 2';
  display:block;
  margin:0 auto;
  border-radius:4px;
}
.portfolio:hover {
  background-color: #999;
  color: #040c13e3;
}
#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 1em;
}

.icon-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(78px, 1fr));
  grid-gap: 5em;
}

.project-listing {
  position: relative;
  overflow: hidden;
  min-width:450px;
}

.project-title {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 74, 90, 0.4);

  /* typographic styles */
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;

  /* position the text centrally*/
  display: flex;
  align-items: center;
  justify-content: center;

  /* hide the title by default */
  opacity: 0;
  transition: opacity .5s;
}

.project-image {
  line-height: 0;
}

.project-listing:hover .project-title {
  opacity: 1;
  z-index: 1;
}

.project-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.project-listing:hover .project-image img {
  filter: blur(2px);
}

/* for touch screen devices */
@media (hover: none) {
  .location-title {
    opacity: 1;
  }
  .location-image img {
    filter: blur(2px);
  }
}

h1 {
    font-size: 3em;
    font-family: 'Exo 2', sans-serif;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
}
footer {
    font-size: .8em;
    text-align: center;
    background-color: #040c13;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
