<h1 style="text-align:center;color:#7aa5a9">Skills</h1>
<div class="icon-container" >
  <article>
    <img src="../assets/icons/iconfinder_html5_252093.png" alt="html" style="width:100%;height:auto;">
  </article>
  <article>
    <img src="../assets/icons/iconfinder_badge-css-3_317756.png" alt="css" style="width:100%;height:auto;">
  </article>
  <article>
    <img src="../assets/icons/iconfinder_ruby_49804.png" alt="ruby" style="width:100%;height:auto;">
  </article>
  <article>
    <img src="../assets/icons/rails_icon.png" alt="rails" style="width:100%;height:auto;">
  </article>
  <article>
    <img src="../assets/icons/iconfinder_code-programming-javascript-software-develop-command-language_652581.png" alt="js" style="width:100%;height:auto;">
  </article>
  <article>
    <img src="../assets/icons/iconfinder_react_1296845.png" alt="react" style="width:100%;height:auto;">
  </article>
  <article>
    <img src="../assets/icons/redux_icon.png" alt="redux" style="width:100%;height:auto;">
  </article>
</div>
</div>
